In [1]:
45.5 - 0.5

45.0

In [2]:
gosto_python = True
print(gosto_python)

In [3]:
gosto_python = True
print(gosto_python)

True

In [4]:
nome = 'Ada Lovelace'
print(nome)

Ada Lovelace

In [6]:
bordao = "Palmeiras!"
bordao * 3

'Palmeiras!Palmeiras!Palmeiras!'

In [7]:
frase = "A vingança nunca é plena,"
frase + "mata a alma e envenena"

'A vingança nunca é plena,mata a alma e envenena'

In [8]:
serie = "pinky blinders"
serie.upper()

'PINKY BLINDERS'

In [9]:
serie.capitalize()

'Pinky blinders'

In [10]:
serie.title()

'Pinky Blinders'

In [13]:
luke = "I'm your father"
luke.starstwith("I")

AttributeError: 'str' object has no attribute 'starstwith'

In [14]:
serie = 'THE CROWN'
serie[7]

'W'

In [15]:
serie[-1]

'N'

In [16]:
serie[3:8]

' CROW'

In [17]:
serie[-1:]

'N'

In [18]:
serie[2:]

'E CROWN'

In [20]:
serie[4:9:3]

'CW'

In [22]:
serie[::]

'THE CROWN'

In [1]:
filme = ["Pulp fiction", 1994, "Crime/Drama", 8.9]

In [2]:
print (filme)

['Pulp fiction', 1994, 'Crime/Drama', 8.9]

In [3]:
filme [0]

'Pulp fiction'

In [11]:
filme = ["Pulp fiction", 1994, "Crime/Drama, 8.9, ["John Travolta", "Uma Thurman" , Samuel L. Jackson"]]

SyntaxError: unmatched ']' (2941481071.py, line 1)

In [12]:
filme = ['Pulp fiction', 1994, 'Crime/Drama', 8.9, ['John Travolta', 'Uma Thurman', 'Samuel L. Jackson']]

In [13]:
filme.count

In [14]:
filme.insert (1, 'Quentin Tarantino')

In [15]:
filme

['Pulp fiction',
 'Quentin Tarantino',
 1994,
 'Crime/Drama',
 8.9,
 ['John Travolta', 'Uma Thurman', 'Samuel L. Jackson']]

In [19]:
filme.count ('Pulp fiction')

1

In [20]:
filme.append ('Quentin Tarantino')

In [21]:
print(filme)

['Pulp fiction', 'Quentin Tarantino', 1994, 'Crime/Drama', 8.9, ['John Travolta', 'Uma Thurman', 'Samuel L. Jackson'], 'Quentin Tarantino']

In [23]:
filme.remove('Quentin Tarantino')

Bad pipe message: %s [b'\xda\x1c"\x01\xc3R\xbb\'8\xe1x\xb8G*\xad%i\xc8 5\xe8uC3W\x8ah8\xe2\xf9o\xe2\xdc\xd0:\x96\xac1\xd0\x8c\x9a\x9d\x00\x02LW\xecSd\x8fo\x00\x08\x13\x02\x13\x03\x13\x01\x00\xff\x01\x00\x00\x8f\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00']
Bad pipe message: %s [b'\x0c\x00\n\x00\x1d\x00\x17\x00\x1e']
Bad pipe message: %s [b'\xb8O\x03JI\x17\xe6\xb2\x9d=5\x9c\xaf7V\x8c\x1d8 \xb4\x9d\x94\xa459\x0b\x07\xa8\xaee<\x0ft\xa3\xdd\x91+\x00\x07\x08\xd9(t\x0e\x99\x02\xbc\xca\x82jm\x00\x08\x13\x02\x13\x03\x13\x01\x00\xff\x01\x00\x00\x8f\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x00\x1e\x00\x1c\x04\x03\x05\x03\x06\x03\x08\x07\x08\x08\x08\t\x08\n\x08\x0b\x08\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06\x01\x00+\x00\x03\x02\x03\x04\x00-\x00\x02\x01\x01\x003\x00&\x00$\x00\x1d\x00 \xc8\xe6\xf3\xbf\\\xf4\xf0\x11S\x7f(x\xc4]']
Bad pipe message: %s [b'\x07Y\x91\x9b\x9f\xdb\xd6\x82\x8fZ\xaf\x9by\xa8\xf0\xb6\xcc\xe1\x00\x00|\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f', b"\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0#\xc0'\x00g\x00@\xc0\n\xc0\x14\x009\x008\xc0\t\xc0\x13\x003\x002\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00<\x005\x00/\x00\x9a\x00\x99\xc0\x07\xc0\x11\x00\x96\x00\x05\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x000\x00.\x04\x03\x05\x03\x06\x03\x08\x07\x08\x08\x08\t\x08\n\x08\x0b\x08\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06", b'', b'\x03\x03']
Bad pipe message: %s [b'']
Bad pipe message: %s [b'', b'\x02']
Bad pipe message: %s [b'\x05\x02\x06']
Bad pipe message: %s [b'\x84\xae\xbf\xd6\x04\x1d~\xb7s\x91,\xf7\xfc}CO\x12\x89\x00\x00\xa6\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(']
Bad pipe message: %s [b'\xd3K\x8b\xae#\x9f_\xe6#\x05\xbfOcW\xf7\xab\xce\xd3\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00\x02']
Bad pipe message: %s [b'_\x06\xa5\xb7\xe8!a\xb4\xb2\xb5{\xcc\x8cX\x11J\x05\x0b\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00\x02\x00\x01\x00\xff\x02\x01\x00\x00C\x00\x00\x00\x0e\x00\x0c\x00\x00']
Bad pipe message: %s [b'\x88\xd1\x0bAS+X@\x84\x83\xafxY\x15\x97o\x04\x82\x00\x00\x86\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\xc0/\xc0+\xc0', b'#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\xc01\xc0-\xc0)\xc0%\xc0']
Bad pipe message: %s [b'\x04\x00\x9c\x00<\x00/\x00\x9a\x00\x99\x00\x98']

In [1]:
def nao_faz_nada():
    pass

In [2]:
nao_faz_nada()

In [3]:
def faz_barulho():
    print("quack")

In [4]:
faz_barulho()

quack

In [6]:
def cumprimentar():
    """Exibe uma saudação ao usuário"""
    print("Olá!")

In [7]:
cumprimentar()

Olá!

In [9]:
def cumprimenta_usuario(nome):
    "Exibe uma saudação com o nome do usuário"
    print("Hello,"  + nome.title() + "!")

In [10]:
cumprimenta_usuario("bruna")

Hello,Bruna!

In [11]:
help(cumprimenta_usuario)

Help on function cumprimenta_usuario in module __main__:

cumprimenta_usuario(nome)
    Exibe uma saudação com o nome do usuário

In [12]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [16]:
def imc():
    peso = float(input("Entre com seu peso em kg:"))
    altura = float(input("Entre com sua altura em metros:"))
    indice = peso/ (altura*2)
    print("Seu IMC e {:.2f}.format(indice")
    print("Sei IMC:", indice)

In [ ]:
imc() # chamando a funcao

In [18]:
resultado = imc()
print(resultado)

Seu IMC e {:.2f}.format(indice
Sei IMC: 20.949720670391063
None

In [19]:
def minha_funcao(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [20]:
minha_funcao(x = 5, y = 6, z = 0.7)

0.06363636363636363

In [21]:
minha_funcao(5, 6, 0.7)

0.06363636363636363

In [22]:
minha_funcao(10, 20)

45.0

In [23]:
import pizza

In [24]:
pizza.faz_pizza("grande", ["mussarela", "presunto", "ovos", "cebola"])
pizza.assa_pizza(True)

Vamos preparar uma pizza de tamanho grande com os seguintes ingredientes:
 -  mussarela
 -  presunto
 -  ovos
 -  cebola
A pizza vai ser assada!

In [25]:
!pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.24.0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [27]:
import pandas as pd

In [6]:
df = pd.read_csv('../dados/tips.csv')

NameError: name 'pd' is not defined

In [29]:
df

,total_conta,gorjeta,genero,fumante,dia,horario,pessoas_mesa,tempo_permanencia
0,16.99,1.01,Feminino,nao,dom,jantar,2,41
1,10.34,1.66,Masculino,nao,dom,jantar,3,40
2,21.01,3.50,Masculino,nao,dom,jantar,3,49
3,23.68,3.31,Masculino,nao,dom,jantar,2,43
4,24.59,3.61,Feminino,nao,dom,jantar,4,34
...,...,...,...,...,...,...,...,...
239,29.03,5.92,Masculino,nao,sab,jantar,3,40
240,27.18,2.00,Feminino,sim,sab,jantar,2,35
241,22.67,2.00,Masculino,sim,sab,jantar,2,30
242,17.82,1.75,Masculino,nao,sab,jantar,2,38
243,18.78,3.00,Feminino,nao,qui,jantar,2,40

In [30]:
df.describe()

       total_conta     gorjeta  pessoas_mesa  tempo_permanencia
count   244.000000  244.000000    244.000000         244.000000
mean     19.785943    2.998279      2.569672          40.262295
std       8.902412    1.383638      0.951100           5.157285
min       3.070000    1.000000      1.000000          26.000000
25%      13.347500    2.000000      2.000000          37.000000
50%      17.795000    2.900000      2.000000          40.000000
75%      24.127500    3.562500      3.000000          44.000000
max      50.810000   10.000000      6.000000          53.000000

In [5]:
teste = df.loc[(df["tempo_permanencia"] >= 50)]

NameError: name 'df' is not defined

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.21.0 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.24.0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
df.loc[(df["tempo_permanencia"] >= 50)]

NameError: name 'df' is not defined

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('../dados/tips.csv')

In [9]:
df.describe

<bound method NDFrame.describe of      total_conta  gorjeta     genero fumante  dia horario  pessoas_mesa  \
0          16.99     1.01   Feminino     nao  dom  jantar             2
1          10.34     1.66  Masculino     nao  dom  jantar             3
2          21.01     3.50  Masculino     nao  dom  jantar             3
3          23.68     3.31  Masculino     nao  dom  jantar             2
4          24.59     3.61   Feminino     nao  dom  jantar             4
..           ...      ...        ...     ...  ...     ...           ...
239        29.03     5.92  Masculino     nao  sab  jantar             3
240        27.18     2.00   Feminino     sim  sab  jantar             2
241        22.67     2.00  Masculino     sim  sab  jantar             2
242        17.82     1.75  Masculino     nao  sab  jantar             2
243        18.78     3.00   Feminino     nao  qui  jantar             2

     tempo_permanencia
0                   41
1                   40
2                   49
3                   43
4                   34
..                 ...
239                 40
240                 35
241                 30
242                 38
243                 40

[244 rows x 8 columns]>

In [10]:
df.describe()

       total_conta     gorjeta  pessoas_mesa  tempo_permanencia
count   244.000000  244.000000    244.000000         244.000000
mean     19.785943    2.998279      2.569672          40.262295
std       8.902412    1.383638      0.951100           5.157285
min       3.070000    1.000000      1.000000          26.000000
25%      13.347500    2.000000      2.000000          37.000000
50%      17.795000    2.900000      2.000000          40.000000
75%      24.127500    3.562500      3.000000          44.000000
max      50.810000   10.000000      6.000000          53.000000

In [11]:
df.loc[(df["tempo_permanencia"] >= 50)]

,total_conta,gorjeta,genero,fumante,dia,horario,pessoas_mesa,tempo_permanencia
22,15.77,2.23,Feminino,nao,sab,jantar,2,50
127,14.52,2.00,Feminino,nao,qui,almoco,2,52
148,9.78,1.73,Masculino,nao,qui,almoco,2,50
185,20.69,5.00,Masculino,nao,dom,jantar,5,50
203,16.40,2.50,Feminino,sim,qui,almoco,2,53
225,16.27,2.50,Feminino,sim,sex,almoco,2,50
226,10.09,2.00,Feminino,sim,sex,almoco,2,51
234,15.53,3.00,Masculino,sim,sab,jantar,2,52
236,12.60,1.00,Masculino,sim,sab,jantar,2,50

In [12]:
df.iloc[0:3]

,total_conta,gorjeta,genero,fumante,dia,horario,pessoas_mesa,tempo_permanencia
0,16.99,1.01,Feminino,nao,dom,jantar,2,41
1,10.34,1.66,Masculino,nao,dom,jantar,3,40
2,21.01,3.50,Masculino,nao,dom,jantar,3,49

In [13]:
df.iloc[:, 1:3]

     gorjeta     genero
0       1.01   Feminino
1       1.66  Masculino
2       3.50  Masculino
3       3.31  Masculino
4       3.61   Feminino
..       ...        ...
239     5.92  Masculino
240     2.00   Feminino
241     2.00  Masculino
242     1.75  Masculino
243     3.00   Feminino

[244 rows x 2 columns]

In [14]:
df.iloc[[0,2,4], 5:8]

  horario  pessoas_mesa  tempo_permanencia
0  jantar             2                 41
2  jantar             3                 49
4  jantar             4                 34

In [16]:
df["total_conta_reais"] = df["total_conta"]*5.20
df.head()

,total_conta,gorjeta,genero,fumante,dia,horario,pessoas_mesa,tempo_permanencia,total_conta_reais
0,16.99,1.01,Feminino,nao,dom,jantar,2,41,88.348
1,10.34,1.66,Masculino,nao,dom,jantar,3,40,53.768
2,21.01,3.50,Masculino,nao,dom,jantar,3,49,109.252
3,23.68,3.31,Masculino,nao,dom,jantar,2,43,123.136
4,24.59,3.61,Feminino,nao,dom,jantar,4,34,127.868

In [17]:
df.sort_values(by=["horario"])

,total_conta,gorjeta,genero,fumante,dia,horario,pessoas_mesa,tempo_permanencia,total_conta_reais
121,13.42,1.68,Feminino,nao,qui,almoco,2,33,69.784
145,8.35,1.50,Feminino,nao,qui,almoco,2,48,43.420
146,18.64,1.36,Feminino,nao,qui,almoco,3,38,96.928
147,11.87,1.63,Feminino,nao,qui,almoco,2,49,61.724
148,9.78,1.73,Masculino,nao,qui,almoco,2,50,50.856
...,...,...,...,...,...,...,...,...,...
74,14.73,2.20,Feminino,nao,sab,jantar,2,43,76.596
75,10.51,1.25,Masculino,nao,sab,jantar,2,32,54.652
76,17.92,3.08,Masculino,sim,sab,jantar,2,35,93.184
52,34.81,5.20,Feminino,nao,dom,jantar,4,40,181.012
243,18.78,3.00,Feminino,nao,qui,jantar,2,40,97.656

In [1]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 4.1 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [ ]:
import openpyxl

In [1]:
!pip install plotnine

Collecting plotnine
  Downloading plotnine-0.10.1-py3-none-any.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 18.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: scipy>=1.5.0 in /home/codespace/.local/lib/python3.10/site-packages (from plotnine) (1.9.3)
Collecting mizani>=0.8.1
  Downloading mizani-0.8.1-py3-none-any.whl (64 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.7/64.7 kB 1.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.19.0 in /home/codespace/.local/lib/python3.10/site-packages (from plotnine) (1.24.0)
Collecting patsy>=0.5.1
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.8/233.8 kB 9.5 MB/s eta 0:00:00
Collecting statsmodels>=0.13.2
  Downloading statsmodels-0.13.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 30.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pandas>=1.3.5 in /home/codespace/.local/lib/python3.10/site-packages (from plotnine) (1.5.2)
Requirement already satisfied: matplotlib>=3.5.0 in /home/codespace/.local/lib/python3.10/site-packages (from plotnine) (3.6.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.5.0->plotnine) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.5.0->plotnine) (1.0.6)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.5.0->plotnine) (22.0)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.5.0->plotnine) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.5.0->plotnine) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.5.0->plotnine) (9.3.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.5.0->plotnine) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.5.0->plotnine) (3.0.9)
Collecting palettable
  Downloading palettable-3.3.0-py2.py3-none-any.whl (111 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.8/111.8 kB 4.0 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.3.5->plotnine) (2022.7)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.10/site-packages (from patsy>=0.5.1->plotnine) (1.16.0)
Installing collected packages: palettable, patsy, statsmodels, mizani, plotnine
Successfully installed mizani-0.8.1 palettable-3.3.0 patsy-0.5.3 plotnine-0.10.1 statsmodels-0.13.5

In [2]:
!pip install gapminder

Collecting gapminder
  Downloading gapminder-0.1-py3-none-any.whl (32 kB)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (from gapminder) (1.5.2)
Requirement already satisfied: numpy>=1.21.0 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->gapminder) (1.24.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->gapminder) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->gapminder) (2022.7)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->gapminder) (1.16.0)
Installing collected packages: gapminder
Successfully installed gapminder-0.1

In [4]:
import pandas as pd
from plotnine import *
from plotnine.data import mpg
from plotnine.data import mtcars
from gapminder import gapminder
%matplotlib inline

In [6]:
!pip install ggplot

Collecting ggplot
  Downloading ggplot-0.11.5-py2.py3-none-any.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 29.8 MB/s eta 0:00:0000:01
Requirement already satisfied: patsy>=0.4 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from ggplot) (0.5.3)
Requirement already satisfied: scipy in /home/codespace/.local/lib/python3.10/site-packages (from ggplot) (1.9.3)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.10/site-packages (from ggplot) (1.16.0)
Requirement already satisfied: statsmodels in /usr/local/python/3.10.4/lib/python3.10/site-packages (from ggplot) (0.13.5)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (from ggplot) (1.24.0)
Requirement already satisfied: matplotlib in /home/codespace/.local/lib/python3.10/site-packages (from ggplot) (3.6.2)
Requirement already satisfied: cycler in /home/codespace/.local/lib/python3.10/site-packages (from ggplot) (0.11.0)
Collecting brewer2mpl
  Downloading brewer2mpl-1.4.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (from ggplot) (1.5.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->ggplot) (1.0.6)
Requirement already satisfied: pyparsing>=2.2.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->ggplot) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->ggplot) (22.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->ggplot) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->ggplot) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->ggplot) (9.3.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->ggplot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->ggplot) (2022.7)
Installing collected packages: brewer2mpl, ggplot
Successfully installed brewer2mpl-1.4.1 ggplot-0.11.5

In [ ]:
dados = pd.DataFrame({"var_x": list(range(4)})

In [2]:
cars = pd.read_csv("../dados/Cars93.csv")
cars93.describe()

NameError: name 'pd' is not defined